**/*.tar.gz
**/__pycache__/
/.idea
/.env

/a000_DATASET/*

/a004_main/a003_training/saved_history/models/*
/a004_main/a003_training/runs/*

/a004_main/a004_fastapi/a001_images/a001_upload_images/*
/a004_main/a004_fastapi/a001_images/a002_crop/*
/a004_main/a004_fastapi/a001_images/a003_upload_images_no_repeat/*
/a004_main/a004_fastapi/a003_logs/log.json

!a004_main/a004_fastapi/a001_images/a001_upload_images/.gitkeep
!a004_main/a004_fastapi/a001_images/a002_crop/.gitkeep
!a004_main/a004_fastapi/a001_images/a003_upload_images_no_repeat/.gitkeep