**/*.tar.gz
**/*.7z
**/__pycache__/
/.idea
/.env
/output.log

/a000_DATASET/*

/a001_test/a001_opencv_detection/faces/*
/a001_test/a001_opencv_detection/imgs/*
/a001_test/a003_facenet/a001_mtcnn_success_crop/*
/a001_test/a003_facenet/a002_mtcnn_fail_crop/*
/a001_test/a006_retina_face_test/a001_retinaface_success_crop
/a001_test/a006_retina_face_test/a002_retinaface_fail_crop

/a002_model/a003_training/saved_history/models/*
/a002_model/a003_training/runs/*

/a003_fastapi/a001_images/a001_upload_images/*
/a003_fastapi/a001_images/a002_crop/*
/a003_fastapi/a001_images/a003_upload_images_no_repeat/*
/a003_fastapi/a001_images/a004_upload_images_gray/*
/a003_fastapi/a001_images/a005_crop_gray/*
/a003_fastapi/a003_logs/*


!a001_test/a001_opencv_detection/faces/.gitkeep
!a001_test/a001_opencv_detection/imgs/.gitkeep
!a001_test/a003_facenet/a001_mtcnn_success_crop/.gitkeep
!a001_test/a003_facenet/a002_mtcnn_fail_crop/.gitkeep
!a001_test/a006_retina_face_test/a001_retinaface_success_crop/.gitkeep
!a001_test/a006_retina_face_test/a002_retinaface_fail_crop/.gitkeep

!a002_model/a003_training/saved_history/models/.gitkeep

!a003_fastapi/a001_images/a001_upload_images/.gitkeep
!a003_fastapi/a001_images/a002_crop/.gitkeep
!a003_fastapi/a001_images/a003_upload_images_no_repeat/.gitkeep
!a003_fastapi/a001_images/a004_upload_images_gray/.gitkeep
!a003_fastapi/a001_images/a005_crop_gray/.gitkeep
!a003_fastapi/a003_logs/.gitkeep
